.mainPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 15px auto;
    padding: 15px;
    border-radius: 7px;
}

.categories {
    width: 100%;
}

.accordion {
    width: 100%;
}

.finish {
    position: absolute;
    /* margin: 45%; */
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 15px 35px;
    width: 172px;
    right: 1px;
}

/* @media (max-width: 480px) {
    .finish {
        margin: 33%;
    }
} */

/* margin: 33%; */